---
import Headline from "../../components/Headline.astro";
import Layout from "../../components/Layout.astro";
import Footer from "../../components/Footer.astro";

export const prerender = false;

const { name } = Astro.params;

let partner;
let content;

if (name) {
  const endpoint =
    import.meta.env.ENDPOINT || "http://localhost:8000/api/graphql";
  const graphqlQuery = {
    query: `query Query($where: PartnerWhereUniqueInput!) {
    partner(where: $where) {
      name
      photo {
        publicUrl
      }
    }
  }`,
    variables: {
      where: {
        slug: name,
      },
    },
  };

  const options = {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify(graphqlQuery),
  };

  const res = await fetch(endpoint, options);

  if (res.ok) {
    const { data } = await res.json();
    partner = data.partner;
  } else {
    throw new Error(`Error fetching partner: ${res.status} ${res.statusText}`);
  }

  // Check if the partner data is null and set the content message accordingly
  if (!partner) {
    content = `<div class="text-center pt-32">
      <h2 class="text-3xl lg:text-4xl 2xl:text-5xl font-title mb-10 text-pink-600">Este lugar aún no es parte de UCAD</h2>
      <p class="text-base text-gray-400 mb-16 md:text-xl">
        Te invitamos a apoyarnos en la misión de llevar una comida caliente al día para cientos de familia en la región de Valparaíso.
      </p></div>`;
  } else {
    content = `
      <div class="text-center">
      <img src=${partner.photo.publicUrl} class="w-64 h-64 object-cover inline" alt="" />
      <h2 class="text-3xl lg:text-4xl 2xl:text-5xl font-title mb-10 text-pink-600">${partner.name} apoya nuestra iniciativa</h2>
      <p class="text-base text-gray-400 md:text-xl">
        ${partner.name} colabora cocinando para UCAD, corporación que entrega comida a adultos mayores, niños y adultos en situación de calle en Quilpué
      </p>
      <p class="text-base text-gray-400 mb-16 md:text-xl">Te invitamos de ser parte de este proyecto, entérate como funcionamos ❤️</p>
      <div class="flex justify-center"><iframe  width="560" height="315" src="https://www.youtube.com/embed/PhKBFsYmThA?si=rIRnil37OVTXmWE9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      </div>`;
  }
}
---

<Layout
  title={`${partner ? `${partner.name} es parte de UCAD` : `Aún no es parte`}`}
>
  <body>
    <div class="h-screen flex flex-col justify-between">
      <span id="partnerId" data-partner={partner}></span>
      {
        content ? (
          <div set:html={content} />
        ) : (
          <Headline>{`No hay información disponible para ${partner.name}.`}</Headline>
        )
      }
      <Footer classes="pt-16 pt-20" />
    </div>
  </body>
</Layout>
<script>
  import confetti from "canvas-confetti";
  const partner = document.getElementById("partnerId");
  if (partner.dataset.partner) {
    confetti({
      scalar: 1.5,
      spread: 200,
      particleCount: 200,
    });
  }
</script>
